@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .debug {
    @apply border border-red-500;
  }

  .button {
    @apply border-2 border-mc-700 px-2;
  }
}

body {
  background-color: #d6d6d6;
}

html,
body {
  height: 100%;
}

.react-flow__attribution {
  display: none;
}
