@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .debug {
    @apply border border-red-500;
  }

  .button {
    @apply border-2 border-mc-700 px-2;
  }

  .inset-4 {
    @apply border-4 border-b-mc-100 border-mc-700;
  }

  .inset {
    @apply border-2 border-b-mc-100 border-mc-700;
  }

  .outset {
    @apply border-2 border-b-mc-400 border-mc-100;
  }

  .outset-4 {
    @apply border-4 border-b-mc-400 border-mc-100;
  }
}

body {
  background-color: #d6d6d6;
}

.mc-background {
  background-image: url("/Background.png");
  /* background-size: 80% 80%; */
  background-repeat: repeat;
  background-blend-mode: multiply;
}

html,
body {
  height: 100%;
}

.react-flow__attribution {
  display: none;
}
